<!DOCTYPE HTML>
<html lang="en-US" ng-app="myApp" ng-controller="AppController">
<head>
<meta charset="utf-8" />
<title>SlideMenu</title>

<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
<script src="js/jquery-3.2.1.min.js"></script>
<link rel='stylesheet' type='text/css' href='css/index.css' />
</head>
<body>


<div class="container" ng-swipe-left="swipe($event)">
	<div id="menuleft" ng-class="{hide:!showmenu,slide:showmenu}">
	<h1>Menu</h1>
	<ul>
	<li><a ng-click="toggleMenu()">Link 1</a></li>
	<li><a ng-click="toggleMenu()">Link 2</a></li>
	<li><a ng-click="toggleMenu()">Link 3</a></li>
	</ul>
	</div>
</div>


<div id="all" ng-class="{hide:showmenu,slide:!showmenu}">
<div class="overlay" ng-class="{show:showmenu}" ng-swipe-left="showmenu=false"></div>
<div id="header">
<button ng-click="toggleMenu()"></button>
<h1>This is a swipe menu</h1>
</div>
</div>

<div class="container" ng-swipe-right="swipe($event)">
<div id="wrapper">
<p>&nbsp</p>
</div>
</div>

<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-touch.min.js"></script>
<script src="js/angular-swipe.js"></script>
<script src="js/index.js"></script>

</body>
</html>